@charset "UTF-8";
footer,header{
  background-color: #6093F8;
}
main{
    padding: 5% 0 5% 0;
    background-color: #F0FFFF;
}
.page_title{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    border-left :1.5rem solid #80DCF9;
    border-bottom:2px solid #80DCF9;
}
.confirm{
    background-color: #FFFFFF;
    margin: 3% auto 3% auto;
    width: 80%;
    height: 70%;
    text-align: center;
    border:2px solid #000000;
}
.title{
    width: 90%;
    text-align: left;
    font-size: 2rem;
    margin: 3% auto 3% auto;
}
.tag-group{
    width: 90%;
    margin: 0 auto 3% auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    border:2px solid #000000;
}
.content{
  margin-left: 5%;
  text-align: left;
  width: 85%;
  word-break: break-all;
}
.good_button{
    margin-left: 80%;
}
.good_button i {
    font-size: 2rem;
    color: #000000;
    margin-right: 8px;
}
.good_button i:hover{
    color: #fafd1e;
}
.good_button p:hover{
    color: hsl(182, 98%, 55%);
}
.article_return{
    margin: 3% auto 3% 10%;
    width: 80%;
    text-align: center;
    border-bottom:2px solid #000000;
}

