@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    overflow: auto; 
    background-color: #F0FFFF;
}
footer,header{
    height: 7%;
    background-color: #6093F8;
}
header{
    display: flex;
    justify-content: space-between;
}
.page_title{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    border-left :1.5rem solid #80DCF9;
    border-bottom:2px solid #80DCF9;
}
.confirm{
    background-color: #FFFFFF;
    margin: 3% auto 3% auto;
    width: 80%;
    height: 70%;
    text-align: center;
    border:2px solid #000000;
}
.title{
    width: 90%;
    margin: 3% auto 3% auto;
    font-size: 1rem;
    border-bottom:2px solid #000000;
}
.tag-group{
    width: 70%;
    margin: 0 auto 3% auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    border:2px solid #000000;
}
.content{
  margin-left: 5%;
  text-align: left;
  width: 85%;
  word-break: break-all;
}
/* ボタンについての記述 */
.button{
    width: 85%;
    display: flex;
    margin: 0 auto;
    justify-content:space-around;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #000000;
  border-radius: 0.5rem;
}

a.btn-return {
  overflow: hidden;

  padding: 0.5rem 2rem;

  color: #000000;
  border-radius: 0;
  background: #FFFFFF;
}


a.btn-return:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 120%;
  height: 600%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #FF0000;
}

a.btn-return:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
a.btn-return p {
  position: relative;
}
button.btn-success{
  overflow: hidden;

  padding: 0.5rem 2rem;

  color: #000000;
  border-radius: 0;
  background: #FFFFFF;
}


button.btn-success:before  {
  position: absolute;
  top: 0;
  left: 0;

  width: 120%;
  height: 700%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #0057FF;
}

button.btn-success:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
button.btn-success p {
  position: relative;
}

/* footer */
.foot {
  display: flex;
  font-size: 0.8rem;
}

.foot a {
  text-decoration: none;
}

.foot2 {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
}

img {
  width: 30%;
  height: 40%; 
}
